@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

@layer utilities {
  .frosted-crema {
    background: rgba(251, 251, 226, 0.08);
    backdrop-filter: blur(12px);
  }
  .text-shadow-elegant {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #351f1b;
}
::-webkit-scrollbar-thumb {
  background: #504442;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d4c3bf;
}
